# -*- coding: utf-8 -*-
"""
Created on Mon Oct 2024  19:23:47 2024

@author: ASUS
"""

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam-Ham Classifier</title>
</head>
<body>
    <h2>Spam-Ham Classifier</h2>
    <form action="/predict" method="post">
        <label for="message">Enter your message:</label><br>
        <textarea name="message" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
